[submodule "EVM Bridge/lib/forge-std"]
	path = EVM Bridge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EVM Bridge/lib/openzeppelin-contracts"]
	path = EVM Bridge/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
